body{
    text-align: center;
    background-image: url(background-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

p{
    line-height: 1.5;
    word-spacing: 1.5px;
    font-weight: 400;
}

.chorus{
    font-style: italic;
    font-weight: 400;
    color: purple;
}

.keyword{
    font-weight: 700;
    font-style: italic;
}




